/* Large devices (desktops) */
@media only screen and (min-width: 1025px) {
    /* Add specific styles for larger screens */
    #welcome img {
        max-width: 100%; /* Adjust image size */
        bottom: 60px;
    }

    #education ul ul {
        margin-left: 8em; /* Adjust margin for better readability */
    }
}